{% csrf_token %}
<div class="custom_form add_task_form">
    <div class="modal-window">
        <div class="form_heading_container">
            <h1 class="form-heading">Добавить задачу</h1>
            <button class="form_close_btn form_users_close_btn">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M18.3 5.70996C18.1131 5.5227 17.8595 5.41747 17.595 5.41747C17.3305 5.41747 17.0768 5.5227 16.89 5.70996L12 10.59L7.10997 5.69996C6.92314 5.5127 6.66949 5.40747 6.40497 5.40747C6.14045 5.40747 5.8868 5.5127 5.69997 5.69996C5.30997 6.08996 5.30997 6.71996 5.69997 7.10996L10.59 12L5.69997 16.89C5.30997 17.28 5.30997 17.91 5.69997 18.3C6.08997 18.69 6.71997 18.69 7.10997 18.3L12 13.41L16.89 18.3C17.28 18.69 17.91 18.69 18.3 18.3C18.69 17.91 18.69 17.28 18.3 16.89L13.41 12L18.3 7.10996C18.68 6.72996 18.68 6.08996 18.3 5.70996Z"
                          fill="black"/>
                </svg>
            </button>
        </div>
        <div class="form_input_container">
            <div class="form_input_container_child">
                <label class="input_label">Тип задачи</label>
                <select name="feedback_type" class="form_select_input margin_right_20" required>
                    <option value="review">Отзыв</option>
                    <option value="review_by_employee">Отзыв о сотруднике</option>
                    <option value="offer">Предложение</option>
                </select>
            </div>
            <div class="form_input_container_child">
                <label class="input_label">Клиент</label>
                <select name="client" class="form_select_input margin_right_20" required>
                    {% for client in clients %}
                        <option value="{{client.id}}">{{client.name}} {{client.company_name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form_input_container_child">
                <label class="input_label">Дата постановки</label>
                <input name="start_date" type="date" class="form_text_input form_text_input_one_student"
                       placeholder="">
            </div>
            <div class="form_input_container_child">
                <label class="input_label">Срок выполнения</label>
                <input name="period_len_by_days" type="number" class="form_text_input form_text_input_one_student"
                       placeholder="Укажите число">
            </div>
            <div class="form_input_container_child">
                <label class="input_label">Статус выполнения</label>
                <select name="progress_status" class="form_select_input margin_right_20" required>
                    <option value="not_taken">Не взят в работу</option>
                    <option value="in_progress">В работе</option>
                    <option value="done">Выполнено</option>
                </select>
            </div>
            <div class="form_input_container_child">
                <label class="input_label">Исполнитель</label>
                <select name="employee_add" class="form_select_input margin_right_20" required>
                    {% for employee in employees %}
                        <option value="{{employee.id}}">{{employee.name}} {{employee.surname}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form_input_container_child">
                <label class="input_label">Комментарий</label>
                <input name="answer" type="text" class="form_text_input form_text_input_one_student margin_right_20"
                       placeholder="Ваш комментарий">
            </div>
            </div>
            <button class="my_button add_form">
                Добавить
            </button>
        </div>
    </div>
</div>
<script>
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth() + 1;
        var yyyy = today.getFullYear();
        if(dd < 10){
          dd='0' + dd
        }
        if(mm < 10){
          mm='0' + mm
        }
        today = yyyy + '-' + mm + '-' + dd;
        document.getElementsByName("start_date")[0].setAttribute("min", today);
        document.getElementsByName("start_date")[0].value = today;
        document.getElementsByName("period_len_by_days")[0].value = 5;
</script>
<script>
    document.addEventListener("DOMContentLoaded", e => {

        let add_task_btn = document.querySelector(".add_task_btn")
        let close_btn = document.querySelector('.form_users_close_btn')
        let form = document.querySelector('.add_task_form')
        let add_form = document.querySelector(".add_form")
        let overlay = document.querySelector('.overlay')
        add_form.addEventListener("click", ev => {
            let data = {
                    "feedback_type": document.getElementsByName("feedback_type")[0].value,
                    "client": document.getElementsByName("client")[0].value,
                    "start_date": document.getElementsByName("start_date")[0].value,
                    "period_len_by_days": document.getElementsByName("period_len_by_days")[0].value,
                    "progress_status": document.getElementsByName("progress_status")[0].value,
                    "employee": document.getElementsByName("employee_add")[0].value,
                    "answer": document.getElementsByName("answer")[0].value,
                    "csrfmiddlewaretoken": '{{ csrf_token }}'
                }
                let confirm = true
            for(let key in data){
                if (data[key] === "") {
                    confirm = false
                }
            }
            if (confirm) {
                $.ajax({
                    url: "{% url 'add_task' %}",
                    method: 'post',
                    dataType: 'html',
                    data: data,
                    success: function(data){
                        location.reload()
                    },
                    error: function (data) {
                        alert("Ошибка!")
                        location.reload()
                    }
                });
            } else {
                alert("Заполните все поля")
            }
        })
        let navbar_add = document.querySelector(".navbar_add")
        navbar_add.addEventListener('click', function () {
            add_task_btn.click();
        });
        add_task_btn.addEventListener("click", ev => {
            form.classList.toggle("form_active")
            overlay.classList.toggle("overlay_active")
        })
        close_btn.addEventListener("click", ev => {
            form.classList.toggle("form_active")
            overlay.classList.toggle("overlay_active")
        })
    })
</script>